.presentation_charte {
    padding: 3% 0;
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .title {
            p {
                width: 100% !important;
            }
        }
    }
    @media screen and (max-width: 767px) {
        #pic {
            margin-bottom: 10% !important;
        }
        .title {
            h2 {
                font-size: 2em !important;
                margin: 5% 0 !important;
            }
            h5 {
                //font-size: 1.3125em !important;
                //margin: 0 !important;
                margin: 6% 0 !important;
            }
            p {
                margin: 0 !important;
                font-size: 0.91125em !important;
                line-height: 30px;
            }
            button {
                float: none !important;
                width: 70%;
                margin-left: 15% !important;
                margin-top: 7%;
                padding: 2% 5% !important;
                margin: 5% 0 !important;
            }
        }
    }
    .desc {
        p {
            font-family: $main_font;
            font-size: 1.0625em;
            font-weight: 200;
            color: #3d4c57;
            line-height: 30px;
        }
    }
    .title {
        h5 {
            margin: 3% 0 4% 0 !important;
        }
        button {
            background-color: $primary_blue;
            border: none !important;
            padding: 1% 5%;
            border-radius: 35px;
            transition: 0.3s;
            margin-top: 4%;
            &:hover {
                filter: brightness(1.2);
            }
            a {
                color: #ffffff;
                font-weight: 200;
                letter-spacing: 2px;
                transition: 0.3s;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.connaitre_la_charte {
    background-color: #dcdcdc;
    padding: 2% 0;
    @media screen and (max-width: 768px) {
        #pic {
            //margin-bottom: 10% !important;
            padding: 0 15px 0 15px !important;
            img {
                width: 60% !important;
                box-shadow: none !important;
                margin: 5% !important;
            }
        }
        .title {
            button {
                float: none !important;
                width: 70%;
                margin-left: 15% !important;
                margin-top: 7%;
                padding: 2% 5% !important;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        #pic {
            img {
                width: 80% !important;
            }
        }
        .title {
            p {
                margin: 4% 0 5% 0 !important;
            }
        }
    }
    //padding: 5% 0;
    #pic {
        padding: 0;
        img {
            // margin-top: -5%;
            // box-shadow: 0px -20px 155px -48px black;
        }
    }
    .title {
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin: 5% 0;
            li {
                line-height: 28px ! important;
                font-weight: 300 !important;
                font-size: 1.1em !important;
                color: #212529;
                &::before {
                    content: url('../img/aiac-courtage-5c-liste-after.svg');
                    vertical-align: sub;
                    margin-right: 3%;
                }
                a {
                    color: $primary_blue !important;
                }
            }
        }
    }
}

.raison_detre_charte {
    @media screen and (max-width: 767px) {
        #raisondetre_title {
            padding-top: 10% !important;
            img {
                width: 35% !important;
                margin-left: -15% !important;
            }
            span {
                right: 105px !important;
                top: 88px !important;
                width: 150px;
            }
        }
        #raisondetre_texte {
            p {
                font-family: $main_font;
                text-align: left !important;
                font-size: 1.0625em !important;
                line-height: 30px;
                font-weight: 300;
                padding: 10% 0 !important;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        box-shadow: 0 40px 214px -104px #000 !important;
        #raisondetre_texte {
            p {
                padding: 10% 0 !important;
            }
        }
        #raisondetre_title {
            //padding-top: 10% !important;
            img {
                width: 35% !important;
                margin-left: -40% !important;
            }
            span {
                font-size: 0.675em !important;
                left: 10px !important;
                top: 44px !important;
                width: 150px !important;
            }
        }
        #raisondetre_texte {
            p {
                font-family: $main_font;
                text-align: left !important;
                font-size: 0.91125em !important;
                line-height: 21px;
                font-weight: 300;
            }
        }
    }
    background: #ffffff;
    box-shadow: 0 40px 76px -85px #000;
    span {
        font-size: 1.041875em;
        color: #3d4c57;
        font-weight: 300;
        text-transform: uppercase;
        display: block;
        width: 50%;
        text-align: right;
        letter-spacing: 2px;
        position: absolute;
        top: 39%;
        right: 10%;
    }
    p {
        font-size: 1.301875em;
        color: $primary_blue;
        line-height: 29px;
        font-weight: 200;
        margin: 0;
        padding: 10% 10%;
        letter-spacing: 2px;
    }
    #raisondetre_title {
        text-align: center;
        padding: 2% 0;
        img {
            width: 45%;
        }
    }
}

.accroche_charte {
    padding-top: 4%;
    .accroche_content {
        @media screen and (min-width: 768px) and (max-width: 992px) {
            margin-bottom: 5% !important;
        }
        @media screen and (max-width: 767px) {
            margin: 5% 0 !important;
        }
    }
    .count-container {
        @media screen and (min-width: 768px) and (max-width: 992px) {
            img {
                width: 50% !important;
                margin: 5% 0 !important;
            }
        }
        @media screen and (max-width: 767px) {
            margin: 5% 0 !important;
            img {
                width: 100px !important;
            }
        }
    }
    h4 {
        @media screen and (max-width: 767px) {
            margin-bottom: 0 !important;
        }
    }
    .count {
        font-size: 2.3975em;
        line-height: 19.73px;
        color: #000000;
        margin-bottom: 0;
        position: absolute;
        width: 75%;
        top: 1.1em;
        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 2em;
            width: 45%;
            top: 1.5em !important;
        }
        @media screen and (max-width: 767px) {
            font-size: 2em !important;
            width: 92%;
            top: 43%;
            ;
        }
    }
    p {
        font-family: $main_font;
        font-size: 1.0625em;
        font-weight: 200;
        color: #3d4c57;
        line-height: 30px;
    }
    button {
        background-color: $primary_blue;
        border: none !important;
        border-radius: 35px;
        transition: 0.3s;
        margin: 5%;
        &:hover {
            filter: brightness(1.2);
        }
        a {
            color: #ffffff;
            font-weight: 200;
            letter-spacing: 2px;
            transition: 0.3s;
            &:hover {
                text-decoration: none;
            }
        }
        @media screen and (min-width:768px) and (max-width:992px) {
            width: 50% !important;
            margin-left: 25% !important;
        }
        @media screen and (max-width:768px) {
            float: none !important;
            width: 70%;
            margin-left: 15% !important;
            margin-top: 7%;
            margin: 5% 0 !important;
        }
    }
}
