.page-template-domain-page {
    .header-page-domain {
        .domain_pic_header {
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
        .left_content-title {
            background-image: linear-gradient(to right top, #0079a0, #003a69);
            @media screen and (min-width: 1201px) {
                padding-left: 8em !important;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            #breadcrumbs {
                position: absolute;
                width: 100vw;
                z-index: 99999;
                top: 1em;
            }
            .left_content-title {
                padding-left: 2em;
            }
        }
        #title_container {
            position: relative;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            .title_container {
                @media screen and (max-width: 767px) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -30%);
                }
            }
            img {
                //padding-top: 4em;
                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    width: 4em;
                    padding-top: 0.5em;
                }
                @media screen and (min-width: 1024px) and (max-width: 1199px) {
                    width: 4em;
                    padding-top: 4.5em;
                }
            }
            @media screen and (min-width: 768px) {
                background-image: none !important;
                padding-top: 3.5em;
            }
        }
        div {
            height: 100%;
        }
        height: 470px;
        h1 {
            //padding: 0;
            // font-weight: 200;
            @media screen and (max-width: 1199px) {
                padding: 0.5em 0 !important;
            }
        }
        h5 {
            color: #ffffff !important;
            margin: 0 !important;
            line-height: 25px;
            @media screen and (max-width: 1199px) {
                font-size: 0.75em !important;
            }
        }
        .gradient_overlay {
            position: absolute;
            width: 100%;
            background: rgba($color: $primary_blue, $alpha: 0.85);
            height: 100%;
        }
        .header-overlay {
            @media screen and (max-width: 767px) {
                #breadcrumbs {
                    position: absolute;
                    z-index: 99;
                    left: 9%;
                    font-size: 0.8em;
                    line-height: 25px !important;
                }
            }
            height: 100%;
        }
    }
    .anchors_container {
        background-color: #ffffff;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            div {
                padding: 0 !important;
            }
            //padding: 3% 0;
        }
        .anchors {
            list-style: none;
            padding: 0 !important;
            margin: 0 !important;
            @media screen and (min-width: 767px) {
                display: inline;
            }
            @media screen and (min-width: 1024px) and (max-width: 1199px) {
                display: inline;
                padding-left: 8em !important;
            }
            a {
                &:hover {
                    text-decoration: none !important;
                }
            }
            .block-2 {
                img {
                    @media screen and (max-width: 767px) {
                        height: 2em !important;
                        margin-right: 0.9em;
                    }
                }
            }
            li {
                display: inline;
                margin: 0 3vw;
                vertical-align: middle;
                @media screen and (max-width: 767px) {
                    display: block;
                    margin: 2vw 0 !important;
                }
                @media screen and (min-width: 768px) and (max-width: 1440px) {
                    margin: 1.6vw;
                    display: inline-block;
                }
                .li_container {
                    display: inline;
                    @media screen and (min-width: 768px) and (max-width: 1440px) {
                        display: inline-block;
                    }
                    @media screen and (max-width: 767px) {
                        display: inline-block;
                        margin: 1em 0;
                    }
                    .anchor_icon {
                        margin-right: 1%;
                        vertical-align: middle;
                        @media screen and (min-width: 768px) and (max-width: 1440px) {
                            height: 2em;
                            display: block;
                            margin: auto;
                            margin-bottom: 0.5em;
                        }
                        @media screen and (max-width: 767px) {
                            height: 1.5em;
                            margin-right: 0.9em;
                        }
                    }
                    a {
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
        span.anchor_title {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                vertical-align: middle;
                display: inline-block;
            }
            @media screen and (max-width: 768px) {
                font-weight: bold;
            }
        }
        .anchor {
            font-family: $main_font;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #3d4c57;
            margin: 30px 0 25px 0;
            font-size: 1.0625em !important;
            line-height: 25px;
            @media screen and (max-width: 767px) {
                width: 100% !important;
                font-size: 1.041875em !important;
            }
            @media screen and (min-width:1024px) and (max-width: 1600px) {
                font-size: 0.975em !important;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 0.75em !important;
            }
        }
    }
    .main_content {
        background-color: #dcdcdc;
        padding: 3% 0;
        @media screen and (max-width: 767px) {
            padding: 10% 0;
        }
        @media screen and (min-width:768px) and (max-width: 768px) {
            padding: 3% 0 6% 0 !important;
        }
        @media screen and (max-width: 768px) {
            #pic {
                //margin-bottom: 10% !important;
                padding: 0 15px 0 15px !important;
                img {
                    width: 60% !important;
                    box-shadow: none !important;
                    margin: 5% !important;
                }
            }
            .title {
                button {
                    float: none !important;
                    width: 70%;
                    margin-left: 15% !important;
                    margin-top: 7%;
                    padding: 2% 5% !important;
                }
            }
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
            h2 {
                margin-top: 1em;
            }
            #pic {
                img {
                    width: 80% !important;
                }
            }
            .title {
                p {
                    margin: 4% 0 5% 0 !important;
                }
            }
        }
        #pic {
            padding: 0;
            img {}
        }
        .title {
            ul {
                //list-style-image: url('../img/aiac-courtage-5c-liste-after.svg');
                list-style: none !important;
                padding-left: 0 !important;
                list-style-position: inside;
                //margin-bottom: 0 !important;
                margin: 5% 0;
                li {
                    position: relative;
                    color: #000000 !important;
                    font-size: 1.041875em !important;
                    line-height: initial;
                    padding-left: 1.8em;
                    margin: 0.5em 0;
                    font-weight: 300;
                    &::before {
                        content: url("../img/aiac-courtage-5c-liste-after.svg");
                        vertical-align: sub;
                        margin-right: 1em;
                        left: 0;
                        width: 1.2em;
                        position: absolute;
                        top: 0.3em;
                    }
                    a {
                        color: $primary_blue !important;
                    }
                }
            }
        }
    }
    .descriptif_content {
        h3 {
            font-size: 2.604375em;
            line-height: 44px !important;
            @media screen and (max-width: 767px) {
                margin-top: 0.5em;
            }
            @media screen and (max-width: 768px) {
                font-size: 2.4em;
                line-height: 45px !important;
            }
        }
        p {
            margin: 40px 0 !important;
        }
        ul {
            //list-style-image: url('../img/aiac-courtage-5c-liste-after.svg');
            list-style: none !important;
            padding-left: 0 !important;
            list-style-position: inside;
            margin-bottom: 0 !important;
            margin: 5% 0;
            li {
                position: relative;
                color: #000000 !important;
                font-size: 1.041875em !important;
                line-height: initial;
                padding-left: 1.8em;
                margin: 0.5em 0;
                font-weight: 300;
                &::before {
                    content: url("../img/aiac-courtage-5c-liste-after.svg");
                    vertical-align: sub;
                    margin-right: 1em;
                    left: 0;
                    width: 1.2em;
                    position: absolute;
                    top: 0.3em;
                }
                a {
                    color: $primary_blue !important;
                }
            }
        }
        li {
            font-size: 1.04em;
            margin: 0.5em 0;
            font-weight: 300;
            color: #000000;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
            .title {
                p {
                    margin: 4% 0 5% 0 !important;
                }
            }
        }
        @media screen and (max-width: 767px) {}
        .title {
            h3 {
                //line-height: 60px !important;
            }
        }
    }
    .prefooter-infos {
        p {
            margin-bottom: 0 !important;
        }
        margin-top: 14em;
        @media screen and (max-width: 768px) {
            margin-top: unset;
        }
        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            #download {
                p {
                    display: inline;
                    margin-right: 0.1em;
                }
            }
        }
        .mx-15 {
            @media screen and (max-width: 768px) {
                width: 100% !important;
                margin-left: 0 !important;
            }
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        p {
            text-transform: uppercase;
            color: #ffffff !important;
            letter-spacing: 3px !important;
            font-weight: bold;
        }
        #download {
            @media screen and (max-width: 767px) {
                padding-bottom: 1.5em;
            }
            img {
                float: left;
                margin-right: 10%;
                @media screen and (max-width: 1199px) {
                    margin-right: 7% !important;
                }
            }
            p {
                @media screen and (max-width: 767px) {
                    display: inline;
                }
            }
        }
        #contact_domain {
            @media screen and (max-width: 767px) {
                padding-top: 1.5em;
            }
            img {
                float: right;
                margin-left: 10%;
                @media screen and (max-width: 1199px) {
                    margin-left: 7% !important;
                    p {
                        display: inline-block;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                p {
                    display: inline-block;
                }
            }
        }
        #contact_fiche {
            background: rgb(218, 218, 218);
            padding: 2% 0 2% 2%;
            position: absolute;
            left: 38%;
            bottom: 0;
            @media screen and (max-width: 768px) {
                position: relative;
                left: 0;
                top: inherit;
                margin: 5% 0;
                padding: 3% 0 3% 20%;
            }
            @media screen and (max-width: 767px) {
                padding: 5% 0 5% 3%;
            }
            @media screen and (min-width: 1024px) and (max-width: 1199px) {
                top: -12em !important;
                .item_container {
                    padding: 1em;
                }
                padding: 0;
            }
        }
        .pic_rounded_container_lead {
            height: 170px;
            width: 170px;
            margin: initial;
            float: left;
            @media screen and (min-width: 1024px) and (max-width: 1199px) {
                margin: auto !important;
                float: none !important;
            }
            @media screen and (max-width: 767px) {
                height: 8em;
                width: 8em;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            img {
                width: 84%;
                height: 84%;
                border-radius: 50%;
                margin-top: 8%;
                margin-left: 8%;
                @media screen and (min-width: 1024px) and (max-width: 1199px) {
                    margin-left: 0 !important;
                }
            }
        }
        .data_associe {
            @media screen and (max-width: 992px) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(0, -50%);
            }
            @media screen and (min-width: 1024px) and (max-width: 1199px) {
                .infos_item {
                    margin: 1.5em 0 !important;
                }
                .pic_rounded_container_lead {
                    margin: auto !important;
                    float: none !important;
                }
            }
            @media screen and (min-width: 1200px) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(0, -50%);
            }
            .infos_item {
                margin-bottom: 3em;
                @media screen and (max-width: 767px) {
                    margin-bottom: 1em;
                }
                h4 {
                    margin-bottom: 0;
                    font-weight: 300;
                    @media screen and (max-width: 767px) {
                        font-size: 1em !important;
                    }
                }
            }
            .social_team_item {
                li {
                    margin: 0 0.5em !important;
                    &:first-child {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}
